option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50_mkdir.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/bash
      mkdir -p /var/app/current
      mkdir -p /var/app/staging
      chown -R webapp:webapp /var/app/current
      chown -R webapp:webapp /var/app/staging

container_commands:
  01_install_node:
    command: |
      # Node 18.x 설치
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
      . ~/.nvm/nvm.sh
      nvm install 18
      nvm use 18
  02_npm_install:
    command: |
      cd /var/app/staging
      npm install 