packages:
  yum:
    nodejs16: []
    gcc-c++: []
    make: []

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 16.x
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_mkdir:
    command: |
      mkdir -p /var/app/current
      mkdir -p /var/app/staging
  02_permissions:
    command: |
      chown -R webapp:webapp /var/app/current
      chown -R webapp:webapp /var/app/staging
  03_npm_install:
    command: |
      cd /var/app/staging
      npm install --production 