option_settings:
  aws:elasticbeanstalk:container:nodejs: 
    NodeVersion: 18.x
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50_mkdir.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/bash
      mkdir -p /var/app/current
      mkdir -p /var/app/staging
      chown -R webapp:webapp /var/app/current
      chown -R webapp:webapp /var/app/staging

container_commands:
  01_install_node:
    command: |
      curl -sL https://rpm.nodesource.com/setup_18.x | sudo bash -
      sudo yum install -y nodejs
  02_npm_install:
    command: |
      cd /var/app/staging
      npm install 