packages:
  yum:
    mod24_ssl: []
    epel-release: []

container_commands:
  10_install_certbot:
    command: |
      sudo dnf install -y certbot python3-certbot-nginx
  20_get_certificate:
    command: |
      sudo certbot certonly --standalone \
        --non-interactive \
        --agree-tos \
        --email admin@metheus.pro \
        --domains api.metheus.pro \
        --keep-until-expiring
  30_link_certificate:
    command: |
      sudo mkdir -p /etc/nginx/ssl/
      sudo ln -sf /etc/letsencrypt/live/api.metheus.pro/fullchain.pem /etc/nginx/ssl/api.metheus.pro.crt
      sudo ln -sf /etc/letsencrypt/live/api.metheus.pro/privkey.pem /etc/nginx/ssl/api.metheus.pro.key 