packages:
  yum:
    mod24_ssl: []
    epel-release: []

container_commands:
  10_installcertbot:
    command: |
      sudo wget -r --no-parent -A 'epel-release-*.rpm' https://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/
      sudo rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm
      sudo yum-config-manager --enable epel*
      sudo yum install -y certbot python-certbot-nginx
  20_getcert:
    command: |
      sudo certbot certonly --debug --non-interactive --email admin@metheus.pro --agree-tos --standalone --domains api.metheus.pro --keep-until-expiring --pre-hook "sudo service nginx stop" --post-hook "sudo service nginx start"
  30_link:
    command: |
      sudo ln -sf /etc/letsencrypt/live/api.metheus.pro/fullchain.pem /etc/pki/tls/certs/api.metheus.pro.crt
      sudo ln -sf /etc/letsencrypt/live/api.metheus.pro/privkey.pem /etc/pki/tls/private/api.metheus.pro.key
  40_config:
    command: |
      sudo mkdir -p /etc/ssl/private
      sudo chmod 700 /etc/ssl/private 