option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8001
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:ec2:instances:
    InstanceTypes: t2.micro

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_start_app.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      npm install
      npm start > /dev/null 2>&1 & 