option_settings:
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3001
  aws:ec2:instances:
    InstanceTypes: t2.micro

container_commands:
  01_reload_nginx:
    command: "service nginx reload" 